/* -------------------- PAGE HEADER -------------------- */

body {
    background-image: url(img/cool-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: 'Sulphur Point', sans-serif;
    margin: 0;
    padding-bottom: 100px;
    height: 100%;
}

.nav-bar {
    max-width: 100%;
}

.logo-img1 {
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
    position: relative;
}

.logo {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(img/cool-footer.png);
}

.li-navbar {
    position: relative;
    font-size: 24px;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    float: left;
}

.li-navbar-logout {
    position: relative;
    font-size: 24px;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

.login-title {
    text-align: center;
    font-size: 42px;
    top: 0;
}

.container-login-form {
    position: relative;
    margin: 11% auto;
    height: 450px;
    width: 400px;
    background: rgba(238, 234, 234, 0.329);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
 .form-login {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px 30px 10px 30px;
    height: 450px;
    width: 400px;
    color: rgba(28, 44, 42, 0.822);
 }

 input[type="text"],input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 8px;
    padding-left: 15px;
    width: 80%;
    height: 38px;
    border: none;
    outline: none;
    border-left: 4px solid rgba(50, 82, 77, 0.541);
    font-weight: 400;
    font-size: 15px;
    transition: 0.3s ease;
    background-color: rgba(255, 255, 255, 0.904);
    color: rgba(50, 82, 77, 0.842);
    margin-top: 10px;
    margin-left: 35px;
    border-radius: 25px;
}

 .login-button {
    text-align: center;
    display: block;
    border-radius: 25px;
    border-color: white;
    background-color:  rgba(238, 234, 234, 0.205);
    padding: 10px 25px;
    margin-left: 124px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.1px;
    cursor: pointer;
    /* box-shadow: 10px; */
 }

.signup-block {
    text-align: center;
}

.signup-p {
    margin: 0;
    display: inline-block;
}

.signup-button {
    display: inline-block;
    color: rgba(50, 82, 77, 0.541);
    text-align: center;
}

/* ----------------- Page signup.php --------------- */

.container-login-form2 {
    position: relative;
    margin: 11% auto;
    height: 500px;
    width: 400px;
    background: rgba(238, 234, 234, 0.329);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

/* ------------------ Error msg Signup ------------------ */

.signup-error-msg {
    text-align: center;
    color: red;
}

.signup-success-msg {
    text-align: center;
    color: green;
}
/* -----------------  forgot-pass ------------------ */
.forgot-pass {
    margin-top: 15px;
    display: block;
    color: rgba(50, 82, 77, 0.541);
    text-align: center;
}

.title-pass-recovery {
    text-align: center;
}


.verified-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 25% 0;
}

.verified-button {
    text-align: center;
    display: block;
    border-radius: 25px;
    border-color: white;
    background-color:  rgba(238, 234, 234, 0.205);
    padding: 10px 25px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.1px;
    cursor: pointer;
}


/*----------  Clickable link  ------------- */


#footer-container {
    background-image: url(img/cool-footer.png);
    width: 100%;
    height: auto;
    display: inline-flex;
    clear: both;
}

.fa-linkedin-in {
    color: orange;
    font-size: 36px;
    }

.fa-paper-plane  {
    color: orange;
    font-size: 36px;
    }

.footer-list {
    padding-bottom: 10px;
    list-style: none;
}

/* ---------- profil page ----------- */

#button-changepwd {
    text-align: center;
    display: block;
    margin-left: 70px;
    border-radius: 25px;
    border-color: white;
    background-color:  rgba(238, 234, 234, 0.205);
    padding: 10px 25px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.1px;
    cursor: pointer;
}

#profil-container {
    position: relative;
    margin: 11% auto;
    height: 450px;
    width: 400px;
    background: rgba(238, 234, 234, 0.329);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.h3-profil {
    font-size: 30px;
}

.profil-p {
    font-size: 20px;
}

/* camera */

#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
  }
  
  #photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
  }
  
  #canvas {
    display:none;
  }
  
  .camera {
    width: 340px;
    display:inline-block;
  }
  
  .output {
    width: 340px;
    display:inline-block;
  }
  
  #startbutton {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    /* bottom:32px;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0); */
    text-align: center;
    display: block;
    border-radius: 25px;
    border-color: white;
    background-color:  rgba(238, 234, 234, 0.205);
    padding: 10px 25px 10px 25px;
    margin-bottom: 10px;
    /* margin-left: 124px; */
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.1px;
    cursor: pointer
  }

.filter {
    display: inline-block;
    width: 13%;
    height: auto;
    text-align: center;
}

.filterOnImage {
    position: absolute;
    margin-top: -315px;
    width: 300px;
    height: auto;
    margin-left: 9px;
}

.resultPhoto {
    position: relative;
    top: -64px;
}

.button-photo-off {
    pointer-events: none;
}

.select {
    cursor: pointer;
}

.container-gallery {
    position: relative;
    margin: 6% auto;
    height: auto;
    width: 320px;
    background: rgba(238, 234, 234, 0.329);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding-bottom: 25px;
}
.gallery-button {
    text-align: center;
    display: block;
    border-radius: 25px;
    border-color: white;
    background-color:  rgba(238, 234, 234, 0.205);
    padding: 10px 25px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 1.1px;
    cursor: pointer;
    margin-left: 110px;
    margin-bottom: 10px;
}

.comment {
    padding:0px 20px 0px 20px;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    margin: 8px;
}

.comment-title {
    padding:0px 20px 0px 20px;
}

.like-number {
    
}

.yes {
    color: rgb(134, 62, 110);
    background: transparent;
    border: none;
    font-size: 35px;
}

.img-login {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}